.list-container {
  height: 100vh;
  width: 500px;
  //border: 1px solid black;

  //.cdk-virtual-scroll-content-wrapper {
  //  display: flex;
  //  flex-direction: column;
  //}
}

.state-item {
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.state {
  font-size: 20px;
  font-weight: 500;
}

.capital {
  font-size: 14px;
}

.list-group-item {
  margin: 0 !important;
  padding: 0 10px !important;
}

button {
  margin: 0 15px !important;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}/* You can add global styles to this file, and also import other style files */
